
main {
  width: 100%;
  position: relative;
  height: calc(100% - 115px);
  overflow-y: auto;
}

section {
  margin: 0;
  position: absolute;
  width: 100%;
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
