<h1>Sign up to the resistance game</h1>
<form [formGroup]="form"
      (submit)="onSubmit()">
    <formly-form [form]="form"
                 [fields]="fields"
                 [model]="model">
    </formly-form>
    <div class="buttons-container">
        <button [disabled]="form.invalid"
                mat-button
                mat-raised-button
                color="primary"
                class="submit-button"
                type="submit">
            Signup
        </button>
    </div>
    <strong>
        <a routerLink="/login"
           mat-button
           class="bottom-button">Login</a>
    </strong>
</form>
