/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main, footer {
  text-align: center;
}

.click-here {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.w-85 {
  width: 85%;
}

.dialog-title {
  text-align: center;
}
